html, body{
    margin: 0;
    background-color: rgb(194, 72, 243)
}
.header-container{
    display: grid;
    grid-auto-columns: repeat(13, 1fr);
    grid-template-rows: 3fr;
    grid-gap: 2px;
    background-color: rgb(243, 176, 52);
    /* background-color: #fff; */
}


.site-name{
    font-family: Helvetica;
    font-size: 100px;
    grid-column: 6/12;
    color: #fff;
    margin-left: 65px;
    /* color: rgb(0, 0, 0); */
}

.safe{
    color: rgb(194, 72, 243);
}

.space{
    color: rgb(194, 72, 243);
}

.form-container{
    display: grid;
    grid-auto-columns: repeat(13, 1fr);
    /* grid-template-rows: 2fr; */
    grid-gap: 5px;
    padding: 2px;
    grid-column: 1/12;
    /* background-color: rgb(145, 4, 4); */
    background-color: rgb(17, 156, 248);
    
}

.form{
    grid-column: 5/10;
    margin-left: 100px;
}

.quotes{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin: 50px;
    font-size: large;
    background-color: rgb(17, 156, 248);
    padding: 15px;
    /* box-shadow: 10px 5px 5px rgb(243, 176, 52); */
    box-shadow: 10px 5px 5px rgb(7, 3, 65);
}

.nav-container{
    display: grid;
    grid-auto-columns: 13, 1fr;
    column-gap: 10px;
}

.navbar{
    grid-column: 1/13;
    padding: 10px;
}

.navbar :hover{
    background-color: rgb(17, 156, 248);
    font-size: large;
}


.link{
    color: #fff;
    padding: 10px;
}


.about-container{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    
}

.about-text{
    background-color: rgb(17, 156, 248);
    box-shadow: 10px 5px 5px rgb(7, 3, 65);
    padding: 20px;
}

.favs-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-left: 50px;
    margin-top: 50px;

}